:host {
  font-size: 18px;
  color: #666;
}

.month-change-arrow {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  top: 5px;

  &:hover {
    background-color: #ccc;
  }

  &.month-change-left-arrow {
    margin-right: 10px;

    svg {
      position: relative;
      left: 5px;
      top: -5px;
    }
  }

  &.month-change-right-arrow {
    margin-left: 10px;

    svg {
      position: relative;
      top: -5px;
      left: 7px;
    }
  }
}

.month-year-display {
  width: 140px;
  text-align: center;
  user-select: none;
}